.avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border-color: transparent;
    background-color: white;
    box-shadow: 1px 1px 10px #C2D9FF;

}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fullName{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color:#251627;

}

.job{
    font-size: 15px;
    color: #444444;
}



